<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [closable]="false">
  <p-header style="text-align: center;">
    <span>REJESTRACJA</span>
  </p-header>
  <div style="">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-mail" type="text" size="50" pInputText [(ngModel)]="mail">
        <label for="float-input-mail">E-mail</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-password" type="password" size="50" pPassword promptLabel="Siła hasła" weakLabel="Słabe"
               mediumLabel="Średnie" strongLabel="Silne" [(ngModel)]="password">
        <label for="float-input-password">Hasło</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-confirm-password" type="password" size="50" pPassword promptLabel="Siła hasła" weakLabel="Słabe"
               mediumLabel="Średnie" strongLabel="Silne" [(ngModel)]="confirmPassword">
        <label for="float-input-password">Powtórz hasło</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-firstname" type="text" size="50" pInputText [(ngModel)]="firstName">
        <label for="float-input-firstname">Imię</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-lastname" type="text" size="50" pInputText [(ngModel)]="lastName">
        <label for="float-input-lastname">Nazwisko</label>
      </span>
    </div>


  </div>
  <div class="buttons">
    <button pButton type="button" icon="pi pi-pencil" label="Zarejestruj" style="margin: 0 5px 0 5px"
            (click)="register()" [disabled]="registration.isRegisterButtonDisabled" ></button>
    <button pButton type="button" icon="pi pi-arrow-circle-left" label="Cofnij" style="margin: 0 5px 0 5px"
            (click)="this.router.navigate(['/login'])"></button>

  </div>
</p-dialog>

