<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

<p-toast [style]="{marginTop: '0', width : '400px'}" position="top-center"></p-toast>


<header *ngIf="this.user.isUserLogged">
  <div class="welcome">
    <span>Witaj, {{this.user.firstName}} {{this.user.lastName}}</span>
  </div>
  <div class="logout">
    <button pButton type="button" icon="pi pi-key" label="Wyloguj" (click)="logout()"></button>
  </div>
</header>


<router-outlet></router-outlet>
