header{
  background: #f2f2f2;
  height: 60px;
  width: 100%;
}
.logout{
}
div.welcome{
  padding: 20px 5px;
  height: 100%;
  text-align: center;
  float: left;
}
span{
}
div.logout{
  float: right;
  margin: 10px 10px;
}
