
<script src="login.component.ts"></script>
<p-dialog [(visible)]="display" [modal]="true" [draggable]="false" [closable]="false">
  <p-header style="text-align: center;">
    <span>LOGOWANIE</span>
  </p-header>
  <div style="">
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-username" type="text" size="50" pInputText [(ngModel)]="this.username">
        <label for="float-input-username">Login</label>
      </span>
    </div>
    <div class="input">
      <span class="ui-float-label">
        <input id="float-input-password" type="password" size="50" pInputText [(ngModel)]="this.password">
        <label for="float-input-password">Hasło</label>
      </span>
    </div>
  </div>
  <div class="buttons">
    <button pButton type="button" icon="pi pi-key" label="Zaloguj" style="margin: 0 5px 0 5px" (click)="login()" ></button>
    <button pButton type="button" icon="pi pi-pencil" label="Zarejestruj"  style="margin: 0 5px 0 5px" (click)="this.router.navigate(['/register'])"></button>

  </div>

</p-dialog>

